*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
article.artistBody{
    max-width: 1400px; 
    margin-left: auto; 
    margin-right: auto;
}
article.artistBody .row {
    margin-right: 0;
    margin-left: 0;
    padding-bottom: 1vw !important;
    position: relative;
}
article.artistBody .row .title{
    line-height: 1.4em;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 0;
    padding-bottom: 1vw !important;
    position: relative;
}
article.artistBody .row .artistPhoto {
    width: 100%;
    padding: 2vw 15px;
    height: auto;
}
article.artistBody .row .artistPhoto img{
    width: 100%;
    height: auto;
}
article.artistBody .row .artistInfo {
    width: 100%;
    padding: 2vw 15px;
    height: auto;
}
article.artistBody .row #artistInfo.artistInfo .artistDetails ul{
    list-style: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
article.artistBody .row #artistInfo.artistInfo .artistDetails ul li{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    line-height: 2em;
}


@media (min-width: 768px){
    article.artistBody .row .artistPhoto {
        width: 40%;
        padding: 0 15px 2vw 15px;
        height: auto;
        display: inline-block;
        vertical-align: top;
    }
    article.artistBody .row .artistInfo {
        width: 55%;
        padding: 0 15px 2vw 15px;
        height: auto;
        display: inline-block;
        vertical-align: top;
    }
}
@media (min-width: 992px){
    

}
@media (min-width: 1200px){


}